$mainGrey: #ededed; //body and main sections
$basicWhite: #fff; // sections on grey and text on dark
$secondColor: #519194; //teal backgrounds
$secondLite: #5ba3a7; //teal borders
$logoBtn: #202640; //logo, text, buttons
$afterBtn: #335f64; // after button press
$tealDark: #377a82; // darker teal for footer icons box